@using System.ComponentModel.Design
@model ProjectVazar.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home - VAZAR Mini Shop</title>



    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/main-style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>VAZAR</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#loginModel">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#singupModel">Signup</a></li>
                    
                    
                    <div class="modal fade" id="singupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">SignUp</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="sellerRegistration">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "registrationemail" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "registrationpassword" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MobileNo, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">24x7 Support <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Call: </strong>+09-456-567-890</a></li>
                            <li><a href="#"><strong>Mail: </strong>info@yourdomain.com</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <strong>Address: </strong>
                                    <div>
                                        234, New york Street,<br />
                                        Just Location, USA
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Keyword Here ..." class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div class="col-md-12 footer-box">
        <div class="row small-box ">
            <strong>Mobiles :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items

        </div>
        <div class="row small-box ">
            <strong>Laptops :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx Laptops</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony Laptops</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items
        </div>
        <div class="row small-box ">
            <strong>Tablets : </strong><a href="#">samsung</a> |  <a href="#">Sony Tablets</a> | <a href="#">Microx</a> |
            <a href="#">samsung </a>|  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung Tablets</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung Tablets</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx Tablets</a> | view all items

        </div>
        <div class="row small-box pad-botom ">
            <strong>Computers :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx Computers</a> |<a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx Computers</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items

        </div>
    </div>

    <div class="col-md-12 end-box ">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.yourdomain.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="~/Scripts/modernizr.custom.63321.js"></script>*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.catslider.js"></script>
    
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });
    </script>
    <script>
            $(document).ready(function() {
                $("#sellerRegistration").submit(function() {
                    var name = $("#FullName").val();
                    var email = $("#registrationemail").val();
                    var password = $("#registrationpassword").val();
                    var phone = $("#MobileNo").val();
                    var mydata = { selname: name, selemail: email, selpass: password, selplone: phone };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveDepartment", "Home")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(mydata),
                        dataType: "json",
                        success: function(data) {
                            if (data == true) {
                                alert("data insert successfully");
                                $('#regisModel').modal('hide');
                                $("#FullName").val("");
                                $("#registrationemail").val("");
                                $("#registrationpassword").val("");
                                $("#MobileNo").val("");
                                $('#Profile tbody tr:last').after('<tr><td>' + name + '</td><td>' + email + '</td></tr>');

                            }
                        },
                    });
                    return false;
                });
            });
    </script>
</body>
</html>


